# Turn on URL rewriting
RewriteEngine On

# Installation directory

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
#RewriteRule .* index.php/$0 [PT]
RewriteRule .* index.php?kohana_uri=$0 [PT,L,QSA]

php_flag apc.cache_by_default Off 

RewriteCond %{HTTP_HOST} ^www.georg.agavaspb.ru
RewriteRule ^(.*)$ http://www.georg.agavaspb.ru/$1 [R=301,L]


#AuthType Basic
#AuthName 'Authorization panel'
#AuthUserFile /home/s/saitprojru/public_html/.htpasswd
#Require valid-user 
