#slider-code { height: 320px; width:1130px;overflow:hidden; padding: 0 0 10px;  position:relative;margin-left:80px;}
#slider-code .viewport { float: left; width: 1030px; height: 330px; overflow: hidden; position: absolute;left:40px;}
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 0; height:330px;left: 0; top: 0; }
#slider-code .overview li  { float: left; display:block;margin:0;padding: 0;position:relative; width: 1030px; height:330px;overflow:hidden;position:relative}

#slider-code .overview li a.more{position:absolute;right:10px;bottom:0px;display:block;width:220px;height:60px;background:#cfe6b3;text-decoration:none;color:#072e01;font-size:25px;line-height:55px;padding-left:20px;font-family:Georgia}


#slider-code .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 65px;   position:absolute;bottom:30px;z-index:55}
#slider-code .pager li { float: left; margin-right:12px}
#slider-code .pagenum {color: #fff; background-color:  #757575;  text-decoration: none; text-align: center; padding:0 5px; line-height:16px; font-size: 13px; font-weight: normal; display: block; }
#slider-code .active { background-color: #925858;  color: #fff;}

#slider-code .prev {display:block;width:29px;height:125px;background:url(../../../img/prev1.png);position:absolute;left:0px;bottom:75px;z-index:6}
#slider-code .next {display:block;width:29px;height:125px;background:url(../../../img/next1.png);position:absolute;right:0px;bottom:75px;z-index:6}